{% extends 'process_mining/process_mining.html' %}

{% block content_body %}
    <div class="row">
        <div class="col-2">
            <div class="row">
                <h1>Even Log Attributes</h1>
                <form>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="start-activity-select">Timestamp</label>
                            <select class="custom-select mr-sm-2" id="timestamp_column">
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="end-activity-select">Case ID</label>
                            <select class="custom-select mr-sm-2" id="caseId_column">
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="end-activity-select">Activitiy</label>
                            <select class="custom-select mr-sm-2" id="activity_column">
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="end-activity-select">Resource</label>
                            <select class="custom-select mr-sm-2" id="resource_column">
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="end-activity-select">Cost</label>
                            <select class="custom-select mr-sm-2" id="cost_column">
                            </select>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a href="javascript:sendXesAttributeColumns()" class="btn btn-secondary">Confirm columns</a>
                    </div>
                </form>
            </div>
            <div class="row">
                <h1>Filters</h1>
                <div>
                    <div class="form-row align-items-center">
                        <label>Start Time</label>
                        <input id="process_discovery_start_date" type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control" onchange="sendPMParameters();">
                    </div>
                    <div class="form-row align-items-center">
                        <label>End Time</label>
                        <input id="process_discovery_end_date" type="date" name="bday" min="1000-01-01" max="3000-12-31" class="form-control" onchange="sendPMParameters();">
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="process_discovery_start_activity">Start Activity</label>
                            <select multiple id="process_discovery_start_activity" class="custom-select mr-sm-2" onchange="sendPMParameters();">
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="process_discovery_end_activity">End Activity</label>
                            <select multiple id="process_discovery_end_activity" class="custom-select mr-sm-2" onchange="sendPMParameters();">
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label for="process_discovery_min_performance">Minimum Performance</label>
                        <input id="process_discovery_min_performance" name="beginActivity" required type="text" class="form-control" aria-describedby="begin activity" onchange="sendPMParameters();">
                    </div>
                    <div class="form-row align-items-center">
                        <label for="process_discovery_max_performance">Maximum Performance</label>
                        <input id="process_discovery_max_performance" name="endActivity" required type="text" class="form-control" aria-describedby="end activity" onchange="sendPMParameters();">
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-5">
                    <h1>Other Options</h1>
                    <div class="row d-flex justify-content-center">
                        <a href="javascript:runProcessDiscovery('{{ request.host_url }}', '{{ url_for('blueprints/process_mining.process_discovery') }}')" class="btn btn-primary">Start Process Discovery</a>
                    </div>
                    <!-- <div class="row d-flex justify-content-center">
                        <a href="javascript:downloadFile('model_representation')" class="btn btn-secondary">Download Data</a>
                    </div> -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Download
                        </button>
                        <div class="dropdown-menu" aria-labelledby="downloadModelSelect">
                            <a class="dropdown-item" href="javascript:downloadFile('process_mining_data');">CSV</a>
                            <a class="dropdown-item" href="javascript:downloadFile('event_log');";>Event Log (.xes)</a>
                            <a class="dropdown-item" href="javascript:downloadFile('output');">Graph</a>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <a href="javascript:sendDiscoveryReset()" class="btn btn-secondary">Reset Discovery</a>
                        <a href="javascript:sendFiltersReset()" class="btn btn-secondary">Reset Filters</a>
                    </div>
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1 filter-select">
                                <label class="mr-sm-2" for="discovery_algorithm">Discovery Algorithm</label>
                                <select id="discovery_algorithm" class="custom-select mr-sm-2">
                                    {% for discovery_algorithm in discovery_algorithms %}
                                        <option id="{{ discovery_algorithm }}" value="{{ discovery_algorithm }}">{{ discovery_algorithm_labels[discovery_algorithm] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1 filter-select">
                                <label class="mr-sm-2" for="model_represenations">Visualization Format</label>
                                <select id="model_represenations" class="custom-select mr-sm-2">
                                    <option value="svg">SVG</option>
                                    <option value="png">PNG</option>
                                    <option value="jpg">JPG</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1 filter-select">
                                <label class="mr-sm-2" for="model_variant">Visualization Format</label>
                                <select id="model_variant" class="custom-select mr-sm-2">
                                    <option value="frequency">Frequency</option>
                                    <option value="performance">Performance</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-7">
                    <h1>Stats</h1>
                    <span>Number of cases: </span><span id='metrics_number_of_cases'></span><br>
                    <span>Number of events: </span><span id='metrics_number_of_events'></span><br>
                    <span>Number of activities: </span><span id='metrics_number_of_activities'></span><br>
                    <span>Number of variants: </span><span id='metrics_number_of_variants'></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Results</h1>
                    <div id="discovery-spinner" class="row spinner" style="text-align: center;">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" >
                        <div id="data_target" style="width: 100%; height: 800px;"></div>
                    </div>

                    <img src="{{url_for('static', filename='images/tmpz8cm2gak.gv.png')}}" style="display:none;" />
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{url_for('static', filename='js/processDiscovery.js')}}"></script>
{% endblock %}
