{% extends 'process_mining/process_mining.html' %}

{% block content_body %}
    <div class="row">
        <div class="col">
            <div class="row d-flex justify-content-start">
                <h2>Process Discovery</h2>
            </div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a id="run_discovery_button" href="javascript:runProcessDiscovery('{{ request.host_url }}', '{{ url_for('blueprints/process_mining.process_discovery') }}')" class="btn btn-primary disabled" disabled><i class="fa fa-play" aria-hidden="true"></i></a>
                    <div class="btn-group" role="group">
                        <button id="download_button"  type="button" class="btn btn-secondary dropdown-toggle disabled" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-download"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="download_select">
                            <a class="dropdown-item" href="javascript:downloadFile('process_mining_data');">CSV</a>
                            <a class="dropdown-item" href="javascript:downloadFile('event_log');";>Event Log (.xes)</a>
                            <a class="dropdown-item" href="javascript:downloadFile('output');">Graph</a>
                        </div>
                    </div>
                    <a id="reset_discovery_inputs" href="javascript:sendDiscoveryReset()" class="btn btn-secondary disabled" disabled> <i class="fas fa-undo-alt"></i> </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-end">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <h3>Information</h3>
                    </div>
                    <div class="row">
                        <label class="mr-sm-2" for="metrics_number_of_cases">Number of cases: </label><p id='metrics_number_of_cases' class="mr-sm-2"></p>
                    </div>
                    <div class="row">
                        <label class="mr-sm-2" for="metrics_number_of_events">Number of events: </label><p id='metrics_number_of_events' class="mr-sm-2"></p>
                    </div>
                    <div class="row">
                        <label class="mr-sm-2" for="metrics_number_of_activities">Number of activities: </label><p id='metrics_number_of_activities' class="mr-sm-2"></p>
                    </div>
                    <div class="row">
                        <label class="mr-sm-2" for="metrics_number_of_variants">Number of variants: </label><p id='metrics_number_of_variants' class="mr-sm-2"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Filters <a id="reset_filters_button" href="javascript:sendFiltersReset()" class="btn btn-secondary disabled" disabled > <i class="far fa-trash-alt"></i> </a> </h3>
                <div style="z-index: 1000; max-width: 100%;">
                    <div class="form-row align-items-center">
                        <label for="process_discovery_start_date">Start Datetime</label>
                        <input id="process_discovery_start_date" type="datetime-local" class="form-control form-control-sm disabled" disabled aria-describedby="start time" onchange="sendPMParameters();" step="1" >
                    </div>
                    <div class="form-row align-items-center">
                        <label for="process_discovery_end_date">End Datetime</label>
                        <input id="process_discovery_end_date" type="datetime-local" class="form-control form-control-sm disabled" disabled aria-describedby="end time" onchange="sendPMParameters();" step="1" ">
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="process_discovery_start_activity">Start Activity</label>
                            <select multiple id="process_discovery_start_activity" class="selectpicker form-control form-control-sm disabled" disabled style="max-width: 100%;" >
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1 filter-select">
                            <label class="mr-sm-2" for="process_discovery_end_activity">End Activity</label>
                            <select multiple id="process_discovery_end_activity" class="selectpicker form-control form-control-sm disabled" disabled style="max-width: 100%;" >
                            </select>
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <label for="process_discovery_min_performance">Minimum Performance</label>
                        <input id="process_discovery_min_performance" name="beginActivity" type="text" class="form-control form-control-sm disabled" disabled aria-describedby="begin activity" onchange="sendPMParameters();" placeholder="100000">
                    </div>
                    <div class="form-row align-items-center">
                        <label for="process_discovery_max_performance">Maximum Performance</label>
                        <input id="process_discovery_max_performance" name="endActivity" type="text" class="form-control form-control-sm disabled" disabled aria-describedby="end activity" onchange="sendPMParameters();" placeholder="100000">
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-6">
                    <h3>Even Log <a href="javascript:sendXesAttributeColumns()" class="btn btn-secondary"><i class="fas fa-clipboard-check"></i></a></h3>
                    <form>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="start-activity-select">Timestamp</label>
                            </div>
                            <div class="col-8 filter-select">
                                <select class="selectpicker form-control form-control-sm" id="timestamp_column"></select>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="end-activity-select">Case ID</label>
                            </div>
                            <div class="col-8 filter-select">
                                <select class="selectpicker form-control form-control-sm" id="caseId_column"></select>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="end-activity-select">Activitiy</label>
                            </div>
                            <div class="col-8 filter-select">
                                <select class="selectpicker form-control form-control-sm" id="activity_column"></select>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="end-activity-select">Resource</label>
                            </div>
                            <div class="col-8 filter-select">
                                <select class="selectpicker form-control form-control-sm" id="resource_column"></select>
                            </div>
                        </div>
                        <div class="form-row my-2">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="end-activity-select">Cost</label>
                            </div>
                            <div class="col-8 filter-select">
                                <select class="selectpicker form-control form-control-sm" id="cost_column"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6">
                    <h3>Options</h3>
                    <form>
                        <div class="form-row align-items-center">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="discovery_algorithm">Discovery Algorithm</label>
                            </div>
                            <div class="col-8 my-1 filter-select">
                                <select id="discovery_algorithm" class="selectpicker form-control form-control-sm">
                                    {% for discovery_algorithm in discovery_algorithms %}
                                        <option id="{{ discovery_algorithm }}" value="{{ discovery_algorithm }}">{{ discovery_algorithm_labels[discovery_algorithm] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="model_represenations">Visualization Format</label>
                            </div>
                            <div class="col-8 my-1 filter-select">
                                <select id="model_represenations" class="selectpicker form-control form-control-sm">
                                    <option value="svg">SVG</option>
                                    <option value="png">PNG</option>
                                    <option value="jpg">JPG</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-4 select_row_label">
                                <label class="mr-sm-2 my-1" for="model_variant">Visualization Format</label>
                            </div>
                            <div class="col-8 my-1 filter-select">
                                <select id="model_variant" class="selectpicker form-control form-control-sm">
                                    <option value="frequency">Frequency</option>
                                    <option value="performance">Performance</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>Results</h3>
                    <div id="discovery-spinner" class="row spinner" style="text-align: center;">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" >
                        <div id="data_target"></div>
                    </div>
                    <img src="{{url_for('static', filename='images/tmpz8cm2gak.gv.png')}}" style="display:none;" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script src="{{url_for('static', filename='js/processDiscovery.js')}}"></script>
{% endblock %}
