{% extends 'main/index.html' %}

{% block header %}
    <h2>Conformance-Checking</h2>
{% endblock %}

{% block content_body %}
    <div class="card col-12">
        <span class="row">
            <div class="col-3">
                <span class="row">
                    <div class="col-12 ">
                    <h4>Conformance Checking</h4>
                    {# <form id="operationSeqSetFrom" action="{{ url_for('blueprints/api.conformance_checking') }}" method="POST"> #}
                    <form id="operationSeqSetFrom" method="POST">
                        <div class="discovey-left-side-input">
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="start-activity-select">Operation Sequence Set 1</label>
                                </div>
                                <div class="wraper1">
                                    <div>
                                     <button class="add_icon1">Add Actions</button>
                                    </div>
                                 </div>
                                {# <div class="col-8 filter-select">
                                {#                                    {# <select class="selectpicker form-control form-control-sm" id="timestamp_column"></select> #}
                                {#                                    <textarea id="OpSeqSet1" name="OpSeqSet1" ></textarea>
                                {#                                </div> #}
                            </div>
                            {# <div class="form-row my-2">
                            {#                                <div class="col-4 select_row_label">
                            {#                                    <label class="mr-sm-2 my-1" for="start-activity-select">Operation Sequence Set 1</label>
                            {#                                </div>
                            {#                                <div class="col-8 filter-select">
                            {#                                    <select class="form-select1" id="OperationSeq"multiple aria-label="multiple select example">
                            {#                                        <option selected>Choose actions from drop-down</option>
                            {#                                        <option value="View Project">View Project</option>
                            {#                                        <option value="Add Project">Add Project</option>
                            {#                                        <option value="Open Project">Open Project</option>
                            {#                                        <option value="Project">Project</option>
                            {#                                        <option value="Project Create">Project Create</option>
                            {#                                    </select>
                            {#                                </div>
                                </div>#}


                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Performance</label>
                                </div>
                                <div class="col-8 filter-select">
                                    {# <input placeholder="hh:mm:ss" id="timespan" name="performance" type="text" class="form-control form-control-sm"> #}
                                    <input type="number" id="min" name="performance" step="any" class="form-control form-control-sm"><label class="mr-sm-2 my-1" >Min</label>
                                    <input type="number" id="sec" name="performance" min="0.0" max="60" step="any" class="form-control form-control-sm"><label class="mr-sm-2 my-1" >Sec</label>
                                </div>
                            </div>

                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Operation Sequence Set 2</label>
                                </div>
                                <div class="wraper2">
                                    <div>
                                        <button class="add_icon2">Add Actions</button>
                                    </div>
                                </div>
                                {# <div class="col-8 filter-select">
                                {#                                    {# <select class="selectpicker form-control form-control-sm" id="activity_column"></select> #}
                                {#                                    <textarea id="OpSeqSet2" name="OpSeqSet2"></textarea>
                                {#                                </div> #}
                            </div>

                            <div class="button">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
						</div>
					</form>
					</div>
				</span>
			</div>
			<div class="col-9">
                    <span class="row">
                        <span class="col-5"></span>
                        <span class="col-7">
                            <div class="row">
                                <h4>Report</h4>
                            </div>

                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_cases1">Data set start time: </label><p id='metrics_number_of_cases1' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_events"> Data set end time: </label><p id='metrics_number_of_events' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_activities">Total Number of Cases: </label><p id='metrics_number_of_activities' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="metrics_number_of_variants1">Number of non-conforming Cases: </label><p id='metrics_number_of_variants1' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="OP">OP: </label><p id="OP" class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                        </span>
                    </span>
                </div>

		</span>
	</div>
{% endblock %}
	
	{% block scripts %}
    {{ super() }}
        <script>
            addSessionIdToFormAction("operationSeqSetFrom")
        </script>
        <script src="{{url_for('static', filename='js/conformance.js')}}"></script>
        <script>
            $(document).ready(function(){
                var max = 10;
                var container = $(".wraper1");
                var add = $(".add_icon1");
                var x = 1;
                $(add).click(function(e) { e.preventDefault();
                   if(x < max) {
                       x++;
                       $(container).append('<div><select class="actionSelect1" aria-label="Default select example"><option selected>Choose Operation</option><option value="View Project">View Project</option><option value="Project">Project</option><option value="Open Project">Open Project</option><option value="Add Project">Add Project</option><option value="Project Create">Project Create</option></select><a href="#" class="delete">delete</a></div>');
                    }});

                $(container).on("click",".delete",function(e){
                    e.preventDefault();
                    $(this).parent('div').remove();
                    x--;
                })
            });
        </script>
        <script>
            $(document).ready(function(){
                var max = 5;
                var container = $(".wraper2");
                var add = $(".add_icon2");
                var x = 1;
                $(add).click(function(e) { e.preventDefault();
                   if(x < max) {
                       x++;
                       $(container).append('<div><select class="actionSelect2" aria-label="Default select example"><option selected>Choose Operation</option><option value="View Project">View Project</option><option value="Project">Project</option><option value="Open Project">Open Project</option><option value="Add Project">Add Project</option><option value="Project Create">Project Create</option></select><a href="#" class="delete">delete</a></div>');
                    }});
                $(container).on("click",".delete",function(e){
                    e.preventDefault();
                    $(this).parent('div').remove();
                    x--;
                })
            });
        </script>

	{% endblock %}