{% extends 'main/index.html' %}

{% block header %}
    <h2>Conformance-Checking</h2>
{% endblock %}

{% block content_body %}
    <div class="card col-12">
        <span class="row">
            <div class="col-3">
                <span class="row">
                    <div class="col-12 ">
                    <h4>Conformance Checking</h4>
                    {# <form id="operationSeqSetFrom" action="{{ url_for('blueprints/api.conformance_checking') }}" method="POST"> #}
                    <form id="operationSeqSetFrom" method="POST">
                        <div class="discovey-left-side-input">
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="start-activity-select">Operation Sequence Set 1</label>
                                </div>
                                <div class="wraper1">
                                    <div>
                                     <button class="add_icon1"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                 </div>
                            </div>
                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Performance</label>
                                </div>
                                <div class="col-8 filter-select">
                                    <input type="number" id="min" name="performance" step="any" class="form-control form-control-sm"><label class="mr-sm-2 my-1" >Min</label>
                                    <input type="number" id="sec" name="performance" min="0.0" max="60" step="any" class="form-control form-control-sm"><label class="mr-sm-2 my-1" >Sec</label>
                                </div>
                            </div>

                            <div class="form-row my-2">
                                <div class="col-4 select_row_label">
                                    <label class="mr-sm-2 my-1" for="end-activity-select">Operation Sequence Set 2</label>
                                </div>
                                <div class="wraper2">
                                    <div>
                                        <button class="add_icon2"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="button">
                                <button type="submit" class="btn btn-primary">Select</button>
                            </div>
						</div>
					</form>
					</div>
				</span>
			</div>
			<div class="col-9">
                    <span class="row">
                        <span class="col-5"></span>
                        <span class="col-7">
                            <div class="row">
                                <h4>Report</h4>
                            </div>

                            <div class="row">
                                <label class="mr-sm-2" for="dataSet_start_time">Data set start time: </label><p id='dataSet_start_time' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="dataSet_end_time"> Data set end time: </label><p id='dataSet_end_time' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="total_number_of_cases">Total Number of Cases: </label><p id='total_number_of_cases' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="no_of_nonConforming_cases">Number of non-conforming Cases: </label><p id='no_of_nonConforming_cases' class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                            <div class="row">
                                <label class="mr-sm-2" for="Result">Result: </label><p id="Result" class="mr-sm-2" style="margin-bottom: 0rem;"></p>
                            </div>
                        </span>
                    </span>
                </div>

		</span>
	</div>
{% endblock %}
	
	{% block scripts %}
    {{ super() }}
        <script>
            addSessionIdToFormAction("operationSeqSetFrom")
        </script>
        <script src="{{url_for('static', filename='js/conformance.js')}}"></script>
        <script>
            $(document).ready(function(){
                var max = 10;
                var container = $(".wraper1");
                var add = $(".add_icon1");
                var x = 1;
                $(add).click(function(e) { e.preventDefault();
                   if(x < max) {
                       x++;
                       $(container).append('<div class="col-8 my-1 filter-select"><select id="operation_list" class="actionSelect1">{% for operation in operation_list %}<option value="{{ operation }}" >{{ operation }}</option>{% endfor %}</select><a href="#" class="delete">delete</a></div>');
                    }});

                $(container).on("click",".delete",function(e){
                    e.preventDefault();
                    $(this).parent('div').remove();
                    x--;
                })
            });
        </script>
        <script>
            $(document).ready(function(){
                var max = 10;
                var container = $(".wraper2");
                var add = $(".add_icon2");
                var x = 1;
                $(add).click(function(e) { e.preventDefault();
                   if(x < max) {
                       x++;
                       $(container).append('<div class="col-8 my-1 filter-select"><select id="operation_list" class="actionSelect2">{% for operation in operation_list %}<option value="{{ operation }}" >{{ operation }}</option>{% endfor %}</select><a href="#" class="delete">delete</a></div>');
                    }});
                $(container).on("click",".delete",function(e){
                    e.preventDefault();
                    $(this).parent('div').remove();
                    x--;
                })
            });
        </script>
    {% endblock %}