{% extends 'base.html' %}

{% block header %}
    <h2>Select Project</h2>
{% endblock %}


{% block content %}
    <div class="row">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Data Initialization</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Process Mining</a>
            </li>
        </ul>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Data Initialization</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Process Mining</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

    {% block content_body %}

    {% endblock %}

    <div class="row d-flex justify-content-center">
        <a href="javascript:createSession('{{ request.host_url }}', '{{ url_for('blueprints/main.process_discovery') }}')" class="btn btn-secondary">New Session</a>
    </div>
    <div class="card">
        {% block dataSource %}
        <div class="card-body">
            <h5 class="card-title">Data Source</h5>
            <h6 class="card-subtitle mb-2 text-muted">Select a pre-defined data source or save a new one</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{ url_for('blueprints/main.data_source_select') }}" class="btn btn-secondary">Select data source</a>
            <a href="{{ url_for('blueprints/main.new_data_source') }}" class="btn btn-secondary">Save new Data Source</a>
        </div>
        {% endblock %}
    </div>

    <div class="card">
        {% block processing_pipeline %}
            <form method="GET" action="/view_project">
                <div class="row d-flex justify-content-center">
                    <select name=projects>
                        {% for project in projects %}
                            <option value="{{ project }}" >{{ project }}</option>"
                        {% endfor %}
                    </select>
                </div>
                <div class="row d-flex justify-content-center">
                    <input type="submit" class="btn btn-primary btn-lower" value="View Project">
                </div>
            </form>
        </div>
        {% endblock %}
    </div>

    <div class="card">
        {% block process_discovery %}
            <a href="{{ url_for('blueprints/main.process_discovery') }}" class="btn btn-primary btn-lower">Process Discovery</a>
        {% endblock %}
    </div>


    {% block view_project %}
    {% endblock %}

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/session.js')}}"></script>
{% endblock %}

{% block scripts_lvl_2 %}
{% endblock %}
