{% extends 'base.html' %}

{% block header %}
    <h2>DA4DS</h2>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-sm navbar-light bg-light ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav nav-tabs nav-fill col-12" >
                        <li class="nav-item">
                            <a id="preprocessing" class="nav-link main-nav-item" href="{{ url_for('blueprints/preprocessing.preprocessing') }}" active >Data Preprocessing</span></a>
                        </li>
                        <li class="nav-item">
                            <a id="process_mining" class="nav-link main-nav-item" href="{{ url_for('blueprints/process_mining.process_discovery') }}">Process Analysis</a>
                        </li>
                        <li class="nav-item disabled">
                            <a id="conformance_checking" class="nav-link main-nav-item disabled" href="#">Conformance Checking</a>
                        </li>
                        <li class="nav-item disabled">
                            <a id="RDLC" class="nav-link main-nav-item disabled" href="#">RDLC</a>
                        </li>
                        <li class="nav-item disabled">
                            <a id="FAIR" class="nav-link main-nav-item disabled" href="#">FAIR Maturity Model</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="row background-grey">
        <div class="col-10">
            <div class="form-row align-items-start">
                <span class="mr-sm-2"> Current Session: </span>
                <span class="mr-sm-2"> Selected Data Source:  </span>
                <span id="user_session_data_source_display" class="mr-sm-2" style="color: red"> None </span>
                <span class="mr-sm-2"> Selected Preprocessing Pipeline: </span>
                <span id="user_session_pipeline_display" class="mr-sm-2"> None </span>
            </div>
        </div>
        <div class="col-2">
            <div class="row d-flex justify-content-end">
                <a href="javascript:createSession()" class="btn btn-secondary"> <i class="fas fa-undo-alt"></i> </a>
                <span id="sessionCreatedCheckmark" class="glyphicon glyphicon-ok" aria-hidden="true" style="display: none;"">&#10004;</span>
            </div>
        </div>
    </div>

    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-12">
            {% block content_body %}

            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/session.js')}}"></script>
<script src="{{url_for('static', filename='js/fileHandler.js')}}"></script>
{% endblock %}

{% block scripts_lvl_2 %}
{% endblock %}
