{% extends 'base.html' %}

{% block header %}
    <h2>Select Project</h2>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('blueprints/preprocessing.preprocessing')}}">Data Initialization</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('blueprints/process_mining.process_discovery')}}">Process Mining</a>
                        </li>
                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form> -->
                </div>
            </nav>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <a href="javascript:createSession()" class="btn btn-secondary">New Session</a>
    </div>

    <div class="row">
        <div class="col-12">
            {% block content_body %}

            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

<script src="{{url_for('static', filename='js/session.js')}}"></script>
{% endblock %}

{% block scripts_lvl_2 %}
{% endblock %}
