{% extends 'preprocessing/preprocessing.html' %}

{% block dataSource %}
    <div class="card-body">
        <h5 class="card-title">Data Source</h5>
        <h6 class="card-subtitle mb-2 text-muted">Save a new one</h6>
        <form id="data_source_save_form" action="{{ url_for('blueprints/api.new_data_source') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="dataSourceName">Datasource name</label>
                <input name="dataSourceName" required type="text" class="form-control" id="dataSourceName" aria-describedby="dataSourceTitleHelp">
                <small id="dataSourceTitleHelp" class="form-text text-muted">This name will be used to quickly identify this data source</small>
            </div>
            <div class="form-group">
                <label for="dataSourceParameters">Parameters</label>
                <input name="dataSourceParameters" required type="text" class="form-control" id="dataSourceParameters" aria-describedby="dataSourceParametersHelp">
                <small id="dataSourceParametersHelp" class="form-text text-muted">Use this field to provide all parameters required to access the data source, i.e. connection details for a data base connection or a file path for a local csv or xes file. Seperate parameters with semicolon (;). Separate parameter name and value with a definition sign (:=) sign. Ommit empty white spaces.</small>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input id="csv_radio" value="csv" type="radio" class="form-check-input data_source_radio" name="datasource_kind">CSV
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input id="database_radio" value="database" type="radio" class="form-check-input data_source_radio" name="datasource_kind">Database
                </label>
            </div>
            <div id="data_source_upload" class="custom-file data_source_upload" style="display:none">
                <input type="file" class="custom-file-input" id="data_source_file_input" name="file">
                <label class="custom-file-label" for="data_source_file_input">Choose file</label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        <a href="{{ url_for('blueprints/preprocessing.preprocessing') }}" class="btn btn-secondary btn-lower">Back</a>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        //to show the file name in the file input
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <!-- This script adds the session id taken from local storage to the request -->
    <script>
        addSessionIdToFormAction("data_source_save_form")
    </script>
{% endblock %}