{% extends 'preprocessing/preprocessing.html' %}

{% block preprocessing_pipeline %}
    <div class="row d-flex justify-content-center">
        <a href="javascript:runProject('{{ project_name }}')" class="btn btn-primary">Run Project</a>
    </div>
    <div class="row d-flex justify-content-center">
        <a href="{{ url_for('blueprints/preprocessing.preprocessing') }}" class="btn btn-secondary btn-lower">Back</a>
    </div>
    <div id="pipeline-running-spinner" class="row spinner" style="text-align: center;">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="row d-flex justify-content-center" >
        <div id="data_target" style="width: 900px; height: 500px;"></div>
    </div>

    <h1>{{project_name}}</h1>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- TODO  this has really weird terms of service and should probably be replaced at some point. For instance, you are not allowed to downjoad this and use it offline. -->

    <script src="{{url_for('static', filename='js/runProject.js')}}"></script>
{% endblock %}
